@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pacifico&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    'Nunito Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-950: #111517;
  --color-grey-400: #808080;
  --color-grey-350: #979797;
  --color-grey-300: #b2b2b2;
  --color-grey-250: #c4c4c4;
  --color-grey-50: #fcfcfc;
  --color-blue-950: #202c36;
  --color-blue-900: #2b3844;

  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1000: 80px;

  --text-1: 2rem;
  --text-1--line-height: calc(var(--text-1) * 1.375);
  --text-2: 1.5rem;
  --text-2--line-height: calc(var(--text-2) * 1.375);
  --text-3: 1.125rem;
  --text-3--line-height: calc(var(--text-3) * 1.45);
  --text-4: 1rem;
  --text-4--line-height: calc(var(--text-4) * 2);
  --text-5: 0.875rem;
  --text-5--line-height: calc(var(--text-5) * 1.45);
  --text-6: 0.75rem;
  --text-6--line-height: calc(var(--text-6) * 1.35);

  /* 暗黑模式設定 */
  --color-bg-primary: var(--color-white);
  --color-text-primary: var(--color-grey-950);
}

@layer theme {
  .dark {
    --color-bg-primary: var(--color-blue-900);
    --color-text-primary: var(--color-white);
  }
}

@layer utilities {
  .theme-primary {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
  }
}

.country-card-info {
  @apply text-5 relative leading-[16px] font-light;
  &:before {
    @apply font-semibold;
    content: attr(data-label) ': ';
  }
}
